.form{
    margin: 150px;
}

.form__title {
    text-align: center;
    text-decoration: underline;
    color: black;
    text-shadow: 1px 1px 2px rgb(131, 128, 128);
}

.btn-primary {
  text-align: center;
  margin-top: 10px;
    
}

p{
  text-align: center;
}